:root{
    --datacomLightBlue: #82c5ff;
    --datacomDarkBlue: #0d183a;
    --datacomMediumBlue: #0b2572;
    --datacomPink: #dc005f;
    --datacomWhite: #e6f1ff;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: var(--datacomWhite);
}

.form {
    margin-left: auto;
    margin-right:auto;
    padding-top: 60px;
    padding-bottom: 60px;
    width: auto;
    text-align: center;
}

@media screen and (min-width: 1401px) and (max-width: 1600px) {
    .form{
        padding: 80px 0 100px 5%;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1400px) {
    .form{
        padding: 80px 0 100px 2%;
    }
}

input[type=text] {
    padding: 5px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border:none;
    margin-left: 10px;
}

Select {
    padding: 5px 5px;
    border-radius: 4px;
    border: none;
    margin-left: 10px;
}

table {
    text-align: left;
    width: 70%;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: var(--datacomMediumBlue);
    color: var(--datacomWhite);
    opacity: 100%;
    padding:10px;
    border: none;
    border-radius: 7px;
}

#ColumnHeadings {
    background-color: var(--datacomLightBlue);
    border-radius: 7px;
}

.TableDescription {
    background-color: var(--datacomWhite);
}

Select:focus {
    border: none;
  }

Label {
    color: var(--datacomDarkBlue);
    padding: 10px;
    padding-right: 80px;
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    Label{
        padding-right: 60px;
    }
}
@media screen and (min-width: 1091px) and (max-width: 1200px) {
    Label{
        padding-right: 30px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1090px) {
    Label{
        padding-right: 20px;
    }
}

.Results {
    text-align: center;
}

.report-bgimage {
    background: url("../Images/bg4.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
  }

  .noBadData{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 62%;
    border-radius: 7px;
    padding-top: 7%;
    color: var(--datacomPink);
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
  }